body, html{
    margin: 0;
    padding: 0;
    background: #23242a !important;
}
.body{
    display: flex;
    background: #23242a;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box{
    position: relative;
    width: 380px;
    height: 520px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    margin: 90px;
}
.box::before{
    content: '';
    position: absolute;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,#45f3ff,#45f3ff);
    top: -50%;
    left: -50%;
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
    
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent,#45f3ff,#45f3ff);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
         transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 2px;
    background: #28292d;
    border-radius: 8px;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    color: #45f3ff;
    flex-direction: column;
    overflow: scroll;
    /* overflow-x: hidden; */
}
.form img{
    width: 300px;
    margin: auto;
    border: 3px solid #45f3ff;
}
.form img :hover{
    width: 500px;
    border: 3px solid #45f3ff;
}
.form::-webkit-scrollbar{
    display: none;
   }
::-webkit-scrollbar {
    display: none;
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: none    ;    
}
 
::-webkit-scrollbar-thumb {
    background: none;
}

.buttons{
    margin-bottom: 50px ;
    display: flex;
    background: #23242a;

}

.kanan{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.kanan button, .kiri button{
    cursor: pointer;
    border-radius:20px;
    border-color: #27282f;
    background-color: #45f3ff;
    width: 150px;
    /* box-shadow: crimson; */
}
.kiri{
    display: flex;
    justify-content: center;
    flex: 1;
}

.form{
    padding: 1rem;
}

script{
    background: #23242a;
}

.judul{
    padding-top: 15px;
    color: #45f3ff;
}
body .body .box .form h2{
    margin-top: 20px;
}

.visi li{
    list-style: none;
}

.form .visi{
    text-align: justify;
}

.misi{
    text-align: justify;
}

.misi li{
    margin-bottom: 10px;
}